/*************************************************************************************************************
********************************************* GENERAL STYLES *************************************************
*************************************************************************************************************/
body, h1, h2, h3, h4, h5, h6{
    font-family: raleway, sans-serif;
    margin: 0;
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: #333;
}
::selection{
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(0, 0, 0, 0.3);
}
/*************************************************************************************************************
********************************************* HELPER CLASSES *************************************************
*************************************************************************************************************/
.container{
    width: 100%;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}
.row{
    margin-left: -15px;
}
.clearfix:after,
.row:after{
    content: '';
    display: block;
    clear: both;
}
.row .col-12{
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-11{
    float: left;
    width: 91.67%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-6{
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-20%{
    float: left;
    width: 20%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col20%{
    float: left;
    width: 20%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-80%{
    float: left;
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-4{
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-3{
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-1{
    float: left;
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row [class*=col-]{
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.row.no-top-bottom-padding [class*=col-],
[class*=col-].no-top-bottom-padding{
    padding-bottom: 0;
    padding-top: 0;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-t-10{
    padding-top: 10px:important;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.m-t-0{
    margin-top: 0;
}
.img-responsive{
    width: 100%;
}
.header{
    width: 100%;
    height: 40px;
    background-color: #000;
    position: fixed;
}
.header p{
    color: #FFF;
    line-height: 0;
    font-size: 18px;
    padding-right: 15px;
}
.sideBar{
    top: 40px;
    left: 0;
    background-color: #FFF;
    position: fixed;
    height: 100%;
    width: 20%;
    padding-left: 0;
}
.sideBar img{
    width: 46px;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 15px;
}
.sideBar p{
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    display: inline;
    margin-left: 30px;
    position: relative;
    top: -28px;
}
.sideBar p span{
    font-weight: bolder;
}
.sideBar a{
    padding: 8px 16px;
/*    float: left;*/
    width: auto;
    border: none;
    display: inline;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
}
.tp{
    margin-left: -110px;
}
.sideBar a:hover{
    background-color: #CCC;
}
.whiteLine{
    background-color: #eee;
    width: 100%;
    height: 1px;
    margin-top: 25px;
}
.sideBar h5{
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.options a{
    display: block;
    text-align: left;
    color: #000;
}
.options .bgBlue{
    background-color: #2196F3;
    color: #FFF;
}
.options .bgBlue:hover{
    color: #000;
}
.mgr{
    margin-right: 13px;
}
.bgGrey{
    background-color: #f1f1f1;
    margin-left: 20%;
    margin-top: 40px;
    width: 80%;
}
.bgGrey .db{
    font-weight: bolder;
    font-size: 18px;
    color: #000;
    line-height: 1.5;
    padding-left: 10px;
}
.mvsuContainer{
    margin-top: -10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.mvsuBox1{
    background-color: #f44336;
    height: 140px;
}
.mvsuBox2{
    background-color: #2196F3;
    height: 140px;
}
.mvsuBox3{
    background-color: #009688;
    height: 140px;
}
.mvsuBox4{
    background-color: #ff9800;
    height: 140px;
}
.mgr1{
    margin-right: 170px;
}
.mvsuBox1 p{
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}
.mvsuBox1 p span{
    color: #FFF;
    font-size: 48px;
    margin-top: -10px;
    margin-left: 15px;
}
.mvsuBox1 h3{
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    margin-left: 15px;
    margin-top: -10px;
}
.mvsuBox2 p{
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}
.mvsuBox2 p span{
    color: #FFF;
    font-size: 48px;
    margin-top: -10px;
    margin-left: 15px;
}
.mvsuBox2 h3{
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    margin-left: 15px;
    margin-top: -10px;
}
.mvsuBox3 p{
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}
.mvsuBox3 p span{
    color: #FFF;
    font-size: 48px;
    margin-top: -10px;
    margin-left: 15px;
}
.mvsuBox3 h3{
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    margin-left: 15px;
    margin-top: -10px;
}
.mvsuBox4 p{
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}
.mvsuBox4 p span{
    color: #FFF;
    font-size: 48px;
    margin-top: -10px;
    margin-left: 15px;
}
.mvsuBox4 h3{
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    margin-left: 15px;
    margin-top: -10px;
}
.rfContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
    margin-left: 10px;
    margin-top: 20px;
}
.rfContainer h5{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.region img{
    width: 390px;
}
.bgwhite{
    background-color: #FFF;
}
.bggrey{
    background-color: #f1f1f1;
}
.rfContainer .feeds p{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.mgricon{
    margin-right: 90px;
}
.mgltitle1{
    margin-left: 300px;
}
.mgltitle2{
    margin-left: 382px;
}
.mgltitle3{
    margin-left: 300px;
}
.mgltitle4{
    margin-left: 372px;
}
.mgltitle5{
    margin-left: 352px;
}
.mgltitle6{
    margin-left: 384px;
}
.mgltitle7{
    margin-left: 402px;
}
.feeds .coloricon1{
    color: #2196F3;
}
.feeds .coloricon2{
    color: #f44336;
}
.feeds .coloricon3{
    color: #d2be0e;
}
.feeds .coloricon4{
    color: #f44336;
}
.feeds .coloricon5{
    color: #2196F3;
}
.feeds .coloricon6{
    color: #f44336;
}
.feeds .coloricon7{
    color: #4CAF50;
}
.gs{
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 50px;
}
.pgBar p{
    font-size: 15px;
    line-height: 1.5;
    margin-left: 10px;
    
}
.dkgrey{
    width: 100%;
    height: 40px;
    background-color: #9e9e9e;
    margin-left: 10px;
}
.pggreen{
    width: 25%;
    height: 40px;
    background-color: #4CAF50;
}
.pggreen p{
    text-align: center;
    line-height: 2.5;
    color: #FFF;
}
.pgyellow{
    width: 50%;
    height: 40px;
    background-color: #ff9800;
}
.pgyellow p{
    text-align: center;
    line-height: 2.5;
    color: #000;
}
.pgred{
    width: 75%;
    height: 40px;
    background-color: #f44336;
}
.pgred p{
    text-align: center;
    line-height: 2.5;
    color: #FFF;
}
.countBox{
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 0;
    margin-bottom: 30px;
}
.countBox p{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: 1px solid #ccc;
}
.countBox p:hover{
    background-color: #ccc;
}
.mgc1{
    margin-left: 700px;
}
.mgc2{
    margin-left: 775px;
}
.mgc3{
    margin-left: 750px;
}
.mgc4{
    margin-left: 755px;
}
.mgc5{
    margin-left: 760px;
}
.mgc6{
    margin-left: 744px;
}
.mc{
    margin-left: 10px;
    padding: 10px;
    background-color: #616161;
    color: #FFF;
}
.mc:hover{
    color: #000;
    background-color: #CCC;
}
.ruBox{
    background-color: #FFF;
    margin-left: 10px;
    margin-top: 15px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.ruBox p img{
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.ruBox p{
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
}
.ruBox p span{
    margin-left: 15px;
    font-size: 24px;
    line-height: 1.5;
}
.rcContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 10px;
}
.rcContainer img{
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;
}
.rcContent .namedate{
    font-weight: 400;
    font-size: 20px;
}
.rcContent .namedate span{
    font-size: 15px;
    opacity: 0.60;
    font-weight: 400;
}
.rcContent .comment{
    font-size: 15px;
    color: #000;
    line-height: 1.5;
}
.footerBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    background-color: #616161;
    margin-left: 10px;
    padding: 20px;
    margin-top: 40px;
}
.fb1 p{
    color: #FFF;
}
.greenline{
    width: 100%;
    height: 7px;
    background-color: #4CAF50;
}
.redline{
    background-color: #f44336;
    width: 100%;
    height: 7px;
}
.yellowline{
    background-color: #ff9800;
    width: 100%;
    height: 7px;
}
.footer{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}
.pwb{
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    margin-left: 10px;
}

























